* {
	margin: 0;
}
body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: white;
	background: url('/felt.jpg');
	background-size: 100% 100%;
	height: 100vh;
	box-sizing: content-box;
}

a {
	color: white;
	font-weight: bold;
}
